/*16/07/2018 Lisely Fuenmayor*/
/*Estilos añadidos para mejorar el aspecto del landing*/

 .sponsors-area .single  img {
     border:none;
     padding:0;
     margin:0;
     width:100%;
     height:100%;
 }

.profile-img img {

     border:none;
     padding:0;
     margin:0;
     width:400px;
     height:400px;

}

.spnbr{

	width:150px  !important;
    height:80px !important;

}

.postimg {
     border-radius: 40%;
     width: 250px;
     height: 250px;
}