/*15/07/2018 Lisely Fuenmayor*/
/*Estilos añadidos para mejorar la apariencia de la imagen que se ve 
en los maestros de Expositor y Sponsors*/

@media screen and (max-width:90em)
{.grid figure{width: 70%} }

.portfolioContainer figure {

    height: 280px  ; 

}

.pic img {

     border:none;
     padding:0;
     margin:0;
     width:100%;
     height:100%;

}